<div class="container-sm mt-5">
    <div class="row">
        <div class="col-xl-6 contact-text">
            <h1 class="text-center header-text" style="font-weight: 700; color: #72efdd;">Get In Touch!</h1>
            <h3 class="text-center header-text" style="color: lightblue">With graduation right around the corner, I'd
                love to show you why I can
                potentially be the perfect fit for your company.</h3>
            <div class="row mb-3">
                <div class="col-xl-12 col-md-4 text-center">
                    <div class="contact-item">
                        <div class="row">
                            <div class="col-xl-4 col-md-12 col-4"><i class="fas fa-envelope fa-2x"></i></div>
                            <div class="col-xl-8 col-md-12 col-8 contact-text-container">
                                <a class="contact-link"
                                    href="mailto:cristianscode@gmail.com">cristianscode@gmail.com</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12 col-md-4 text-center">
                    <div class="contact-item">
                        <div class="row">
                            <div class="col-xl-4 col-md-12 col-4"><i class="fas fa-phone fa-2x"></i></div>
                            <div class="col-xl-8 col-md-12 col-8 contact-text-container"><a class="contact-link"
                                    href="tel:5309336502">(530)
                                    933-6502</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-4 text-center">
                    <div class="contact-item">
                        <div class="row">
                            <div class="col-xl-4 col-md-12 col-4"><i class="fab fa-linkedin fa-2x w-100"></i></div>
                            <div class="col-xl-8 col-md-12 col-8 contact-text-container"><a class="contact-link"
                                    href="https://www.linkedin.com/in/soriacristian/">linkedin.com/in/soriacristian/</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 contact-form">
            <div class="card">
                <div class="card-body">
                    <form target="_blank" action="https://mailthis.to/cristianscode@gmail.com" method="POST"
                        encType="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-12 col-md-5">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" name="phoneNumber">
                                </div>
                                <input type="hidden" name="_subject" value="Contact form submitted">
                                <input type="hidden" name="_honeypot" value="">
                                <input type="hidden" name="_confirmation" value="">
                            </div>
                            <div class="col-xl-12 col-md-7">
                                <div class="form-group">
                                    <label class="form-label">Message</label>
                                    <textarea class="form-control" rows="8" style="resize: none;"
                                        name="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="Connect">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>