<div class="container">
    <div class="text-center mb-5">
        <img src="../../../assets/me.jpg" alt="" width="250px" style="border-radius: 50%; filter: contrast(1.2) grayscale(1)">
    </div>
    <h2 class="major text-center w-100">Hi, I'm <span style="color: #72efdd;">Cristian</span></h2>
    <h1 class="major text-center w-100 subheader">Building <span style="color: #fca311;">Responsive</span> Web Apps, <span style="color: #fca311;">Proficient</span> Software, and <span style="color: #fca311;">Experience</span> </h1>
    <p class="text-center w-75 m-auto" style="color: lightblue;">Full Stack Developer in Sacramento, CA graduating with a BA in Computer Science May, 2021. Specialize in creating Responsive Web Applications with Angular and NodeJS</p>
    <div class="text-center mt-3">
        <button class="btn btn-primary" style="background-color: #72efdd; color: #0F182E; border: none;" routerLink="/contact">Let's Connect</button>
    </div>
</div>