<div class="container">
    <!-- Professional Projects -->
    <!-- CRM -->
    <section class="project-container">
        <div class="card project-card">
            <h2 class="card-header major">CPS CRM</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/CRMDash.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            With the attempt of converting propspects into home buyers, this CRM project allows for an effective way to follow up and keep track of potential clients.
                            When these prospects are ready for their big investment, CPS CRM provides all the tools needed to complete that purchase and record it. 
                            Tools like Follow-ups, Estimate Calculators, Printing Contracts, Community Registrations are integrated to make something so difficult seem easy.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">TypeScript</div>
                            <div class="project-tech-item">C#</div>
                            <div class="project-tech-item">SwaggerUI</div>
                            <div class="project-tech-item">HTML</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shadow Hornet -->
    <section class="project-container">
        <div class="card project-card">
            <h2 class="card-header major">Shadow Hornet</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-block d-lg-none">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="project-date"> 08/2020 - Current</div>
                        <div class="project-description">
                            Using the latest technologies Shadow Hornet allows for Homeowners to sale their home with ease. By connecting Sale Agents, Investors,
                            and Homeowners, we are able to create an enviornment for the best possible outcome/proft for FSBO's
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Lambda</div>
                            <div class="project-tech-item">Serverless</div>
                            <div class="project-tech-item">AWS</div>
                            <div class="project-tech-item">Python</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-none d-lg-block">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Personal Projects -->
    <section class="project-container">
        <div class="card project-card">
            <h2 class="card-header major">ReChart</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/ChartJS.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right p-2">
                            <a href="https://github.com/cristianscode/rechart-maker" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                            <a href="https://react-chartjs-maker.herokuapp.com/" target="_blank"><i class="fas fa-external-link-alt ml-2 fa-2x"></i></a>
                            
                            
                        </div>
                        <div class="project-description">
                            ReChart makes designing charts easy. You can create Line, Bar, Pie, and Doughnut Charts as simple as 1, 2, 3.
                            After designing your chart you can copy and paste the source code provided into your React/Angular application. 
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">ReactJS</div>
                            <div class="project-tech-item">ChartJS</div>
                            <div class="project-tech-item">HTML</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="project-container">
        <div class="card project-card">
            <h2 class="card-header major">Email Designer</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-block d-lg-none">
                        <img class="project-image" src="../../../assets/DNDeditor.jpeg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right">
                            <a href="https://github.com/cristianscode/Email-Template-Builder" target="_blank" ><i class="fab fa-github fa-2x"></i></a>
                            <a href="https://email-template-builder-cs.herokuapp.com/" target="_blank" ><i class="fas fa-external-link-alt ml-2 fa-2x"></i></a>
                        </div>
                        <div class="project-description">
                            This Web Application allows users to design a Email in a Drag and Drop fashion. Providing components like
                            Rows, Columns, Images, Buttons, and Dividers, users will have no problem making beautiful emails. After designing your emails
                            users can preview or copy the templates HTML content and paste.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">TypeScript</div>
                            <div class="project-tech-item">JavaScript</div>
                            <div class="project-tech-item">HTML</div>
                            <div class="project-tech-item">SCSS</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-none d-lg-block">
                        <img class="project-image" src="../../../assets/DNDeditor.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- <section class="project-container">
        <div class="card project-card">
            <h2 class="card-header major">Zoom Clone</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/ZoomClone.jpeg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right">
                            <i class="fab fa-github fa-2x"></i>
                            <i class="fas fa-external-link-alt ml-2 fa-2x"></i>
                        </div>
                        <div class="project-description">
                            
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">ReactJS</div>
                            <div class="project-tech-item">Socket.io</div>
                            <div class="project-tech-item">Node.js</div>
                            <div class="project-tech-item">Express</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>