<div class="container">
    <!-- Professional Projects -->
    <!-- CRM -->
    <section class="project-container">
        <div class="card project-card">
            <div class="card-header">CPS CRM</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right"><i class="fab fa-github fa-2x"></i></div>
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, quod labore. Qui
                            sapiente corporis natus mollitia sequi voluptatem beatae perspiciatis neque enim, laboriosam
                            consectetur voluptates laborum voluptas dicta nobis ab.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shadow Hornet -->
    <section class="project-container">
        <div class="card project-card">
            <div class="card-header">Shadow Hornet</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-block d-lg-none">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right"><i class="fab fa-github fa-2x"></i></div>
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, quod labore. Qui
                            sapiente corporis natus mollitia sequi voluptatem beatae perspiciatis neque enim, laboriosam
                            consectetur voluptates laborum voluptas dicta nobis ab.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-none d-lg-block">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Personal Projects -->
    <section class="project-container">
        <div class="card project-card">
            <div class="card-header">ReChart</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right"><i class="fab fa-github fa-2x"></i></div>
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, quod labore. Qui
                            sapiente corporis natus mollitia sequi voluptatem beatae perspiciatis neque enim, laboriosam
                            consectetur voluptates laborum voluptas dicta nobis ab.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="project-container">
        <div class="card project-card">
            <div class="card-header">Email Maker</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-block d-lg-none">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right"><i class="fab fa-github fa-2x"></i></div>
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, quod labore. Qui
                            sapiente corporis natus mollitia sequi voluptatem beatae perspiciatis neque enim, laboriosam
                            consectetur voluptates laborum voluptas dicta nobis ab.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1 d-none d-lg-block">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="project-container">
        <div class="card project-card">
            <div class="card-header">Zoom Clone</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <img class="project-image" src="../../../assets/projectImage.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 mb-1 mt-1">
                        <div class="float-right"><i class="fab fa-github fa-2x"></i></div>
                        <div class="project-date"> 03/2020 - Current</div>
                        <div class="project-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, quod labore. Qui
                            sapiente corporis natus mollitia sequi voluptatem beatae perspiciatis neque enim, laboriosam
                            consectetur voluptates laborum voluptas dicta nobis ab.
                        </div>
                        <div class="project-tech">
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                            <div class="project-tech-item">Angular</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>